.control{
    background-color: rgb(238, 238, 238);
    border: 1px solid #ebebeb;
    margin-bottom: 5pt;
    margin-right: 5pt;
    display: inline-block;
    width: 92%;
}

.controlText{
    color: gray;
    padding-bottom: 0pt;
}

.controlIcon{
    font-size: 18pt;
    margin: 10pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
}