.control{
    background-color: rgb(238, 238, 238);
    border: 1px solid #ebebeb;
    padding: 0pt;
    margin-bottom: 5pt;
    margin-right: 5pt;
    display: inline-block;
    width: 100%;
    align-self: center;
    align-content: center;
}

.controlText{
    color: gray
}

.controlIcon{
    font-size: 18pt
}